@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-cwhite-200 text-cblue-700 tracking-wide;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  
  h1 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }
  
  h2 {
    @apply text-lg sm:text-xl;
  }
  
  h3 {
    @apply text-base sm:text-lg;
  }
  
  /* li {
    @apply cursor-pointer;
  } */
  
  
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
  }

  @font-face {
    font-family: lobster;
    src: url(/fonts/Lobster/Lobster-Regular.ttf);
}
  